<div class="row justify-content-center">
  <div class="col-6">
    <form class="card mt-4" [formGroup]="form">
      <div class="card-body">
        <div class="form-group row mt-1">
          <label for="text" class="col-sm-3 col-form-label">Text</label>
          <div class="col-sm-9">
            <textarea type="text" class="form-control" formControlName="text" id="text" required>
            </textarea>
            <small *ngIf="formErrors.text" class="text-danger">{{ formErrors.text }}</small>
          </div>
        </div>
        <ul class="text-danger list-unstyled" *ngIf="errors">
          <li *ngFor="let error of errors">
            {{error}}
          </li>
        </ul>
        <button type="submit" class="btn btn-primary" (click)="onCreate()" [disabled]="form.invalid">Add page</button>
      </div>
    </form>
  </div>
</div>
