<div class="row justify-content-center card-group mt-2" *ngIf="document">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title m-2">{{ document.title }}</h2>
        <p class="m-0">Author: {{document.author}} </p>
        <p class="m-0">Date: {{document.createdAt | date}} </p>
        <p class="m-0">Pages:
          <br/>
          <button class="btn btn-outline-dark btn-lg m-1 mt-2" *ngFor="let page of document.pages; let i = index">
            {{page.pageNr}}
          </button>
          <button class="btn btn-outline-dark btn-lg m-1 mt-2">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
